<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <ul>
            <li ng-repeat="contact in ::contacts">
                <span>{{::contact.name}}</span>
                <button ng-click="remove($index)">Delete</button>
            </li>
        </ul>

        <button ng-click="change()">Change Window Name</button>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>
